{% extends "base.html" %} 
{% block title %}Confirm Email {% endblock %}
{% block content %}

<div class="jumbotron jumbotron-fluid text-light" style="background: linear-gradient(145deg,#0427d6f5, #ff08f8); min-height: 50vh;">
    <div class="container">
        <h2 class="display-4">Confirmation Email Sent!!!</h2>
        <p class="lead">
            An email verification link has been sent to your provided email, please click on the link to activate your account.
        </p>
    </div>
</div>
{% endblock %}