{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block mystyles%}
<style>
    span.asteriskField {
            display: none;
    }
    .card{
        box-shadow: 0 3px 20px rgba(0, 0, 0, .2);
        border-radius: 10px;
    }
    .alert.alert-block.alert-danger ul{
        margin: 0;
        padding: 0;
    }
    .alert.alert-block.alert-danger ul li {
        list-style: none;
        font-size: .89em;
    }
</style>
{% endblock %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
            <form method="post" class="card pt-5 pr-5 pl-5 pb-4">
                <fieldset>
                    <legend class="border-bottom pb-2 text-center" style="font-size: 3rem;">Sign up here.</legend>
                    {% csrf_token %}
                    {{ form|crispy }}
                </fieldset>
                <input type="hidden" name="next" value="{{ next }}">
                <div class="form-group text-center mt-3 m-0">
                    <button type="submit" class="btn btn-lg btn-primary">Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}