{% extends "base.html" %}
{% block title %}Welcome|Home{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-fluid m-0" style="min-height: 90vh;">
        <div class="container align-items-center justify-content-center">
            <h2 class="display-4">Welcome to ECart</h2>
            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque quibusdam debitis tempora saepe, consequuntur ad quas deleniti, eveniet neque, nostrum culpa dolor commodi. Ipsa, eos? Temporibus facere similique ad deleniti?</p>
            <hr class="myhr">
        </div>
    </div>
{% endblock %}